---
layout: page
title: "About"
description: "Hi，I'm Anderson."
header-img: "img/my_desk.jpg"
---

<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=0 height=0
src="http://onu8hdryi.bkt.clouddn.com/%E8%83%A1%E5%A4%8F%20-%20%E9%82%A3%E4%BA%9B%E5%B9%B4.mp3"></iframe> -->
<!-- <script type="text/javascript">
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
      var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
      var bIsMidp = sUserAgent.match(/midp/i) == "midp";
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
      var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
      var bIsAndroid = sUserAgent.match(/android/i) == "android";
      var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
      var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
      var htmljs = '<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=0 height=0 src="http://onu8hdryi.bkt.clouddn.com/%E8%83%A1%E5%A4%8F%20-%20%E9%82%A3%E4%BA%9B%E5%B9%B4.mp3"></iframe>';
      if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
      } else {
        document.write(htmljs);
      }
</script> -->

<!--  恋爱ing -->
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=495565400&auto=1&height=32"></iframe>
<!-- 卡农 -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=29802386&auto=1&height=32"></iframe> -->
<!-- 童年 -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=40257924&auto=1&height=32"></iframe> -->
<!-- 西部世界 -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=3&id=1368169705&auto=1&height=32"></iframe> -->
<!-- 我在那一角落患过伤风(钢琴版) -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=28406526&auto=1&height=32"></iframe> -->
<!-- butter-fly -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=4940920&auto=1&height=32"></iframe> -->
<!-- let her go -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=26396206&auto=1&height=32"></iframe> -->
<!-- 七里香钢琴 -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=448437188&auto=1&height=32"></iframe> -->
<!-- 彩虹-->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=27902098&auto=1&height=32"></iframe> -->
<!-- Panorama - X-Ray Dog -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=4437814&auto=1&height=32"></iframe> -->
<!-- Because of you -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=28828074&auto=1&height=32"></iframe> -->
<br>
<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <!-- <blockquote><p>hello，world!</p></blockquote> -->


    <p>
       <h5>关于我:</h5>
       你好, 我是夏敏，目前工作于MIUI南京，这里是我的个人博客, 由2016年的小书匠Github存储仓库改变而来<br>
       此博客用作平时学习记录, 也发表一些感想, 此about页面背景音乐不定期随着心情改动.<br>
       2018，加油！
    </p>

    <p>  诸葛四郎和魔鬼党  到底谁抢到那支宝剑<br>
         隔壁班的那个女孩  怎么还没经过我的窗前 </p>

    <p>
      <h5>博客大事记:</h5>
      2017.01.01 重命名了之前写的md记录文件
      <br>2017.01.04 绑定域名jerey.cn
      <br>2017.01.20 集成了百度统计以及多说评论系统
      <br>2017.02.01 增加简书图标和链接，增加部分朋友链接
      <br>2017.02.02 为所有文章添加catalog目录
      <br>2017.02.05 为博客增加不蒜子访问统计显示
      <br>2017.04.05 为博客增加酷炫背景动画, 增加移动端和PC端判断, 并给PC版的about界面增加背景音乐
      <br>2017.04.09 为博客增加`Material Design`版本
      <br>2017.05.02 因多说组织将于2017.06.01结束服务, 使用网易云跟帖替代多说评论系统
      <br>2017.05.15 使用百度分享
      <br>2017.05.18 修改博客UI, 增加了预览小图效果
      <br>2017.07.10 网易云跟帖宣布8月1号停止服务,使用韩国评论系统来比力代替
    </p>
    <!-- <p>你好，我是<strong>夏敏</strong>，程序员一枚，单身，位于南京</p>
    <p>此博客由之前的小书匠GitHub仓库修改而来，<br>同时将大学的有道云笔记的一些内容搬过来</p>

    <p>命运它无法让我们跪地求饶</p>
    <p>就算鲜血洒满了怀抱</p>
    <p>带着赤子的骄傲</p>
    <p>生命的闪耀不坚持到底怎能看到</p>
    <p>与其苟延残喘</p>
    <p>不如纵情燃烧吧</p>
    <p>为了心中的美好</p>
    <p>不妥协直到变老</p> -->

  <!--   <h5></h5>
 -->
    <ul>
<!--     <li><a href="//huangxuan.me/2016/11/20/sw-101-gdgdf/">Service Worker 101 · GDG DevFest 2016 北京</a></li>
    <li><a href="//huangxuan.me/2016/10/20/pwa-qcon2016/">Progressive Web Apps，复兴序章 · QCon 上海 2016</a></li>
    <li><a href="//huangxuan.me/2016/06/05/pwa-in-my-pov/">Progressive Web App 之我见 · 2016</a></li>
    <li><a href="//huangxuan.me/2015/12/28/css-sucks-2015/">CSS Still Sucks 2015 · 2015</a></li>
    <li><a href="//huangxuan.me/2015/07/09/js-module-7day/">JavaScript 模块化七日谈 · 2015</a></li> -->
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>hello，world!</p></blockquote>

    <p>Hi，I'm<strong>Jerey</strong>，Android Progranmmer，Nanjing China</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{``
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

<!-- //分享 -->
<div class="bdsharebuttonbox">
  <br>
  <a href="#" class="bds_more" data-cmd="more"></a>
  <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
  <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
  <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
  <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
  <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
  <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["weixin","tsina","sqq","qzone","youdao","twi"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","sqq","qzone","youdao","twi"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

{% if site.netease_comment %}
<!-- 网易云跟帖评论框 -->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
  var cloudTieConfig = {
    url: document.location.href,
    sourceId: "",
    productKey: "cfdc4deb2f0148389b4e50e9fcd8d2dd",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
{% endif %}

{% if site.livere_comment %}
<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8yOTQzOS82MDA3">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
{% endif %}
