--- 
title: Portfolio 
layout: default 
---

<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>夏敏</title>
    <link rel="stylesheet" type="text/css" href="css/timeline.css" />
    <script src="js/modernizr.custom.js"></script>
</head>

<body>
    <div class="container" style="margin:0;padding:0;width:100%;">
        <header>
            <img src="images/xiamin2.png" alt="上海鲜花港 - 郁金香">
            <h2>夏敏</h2>
            <p>Android Programmer
                <br> 读过两年书，尘世中一个迷途小书童
                <br>
                <br>曾经有个初恋女友叫C语言
                <br>也曾爱慕过Linux的芳容
                <br>如今，Android工程师一枚
                <br>Anderson大码渣是也
            </p>
        </header>
        <div class="main">
            <h2>个人作品</h2>
            <ul class="cbp_tmtimeline">
                <li>
                    <div class="cbp_tmlabel">
                        <h2 id="boxoffice">BesselLoadingView</h2>
                        <time>2017.03</time>
                        <ul>
                            <li>
                                BesselLoadingView是一个贝塞尔曲线效果的加载过渡动画库，可用在您的项目的过渡页中，替换掉等待页面的ProgressBar
                                <br> 这是一个使用纯canvas绘制的自定义view
                                <br> 提供了动画时长，圆球自适应大小，圆球颜色供第三方配置。
                                <br>
                                <br>
                                <a href="http://www.jianshu.com/p/9c07c9409ccd">关于BesselLoadingView使用及介绍的博文</a>
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <span class="link"><a target="_blank" href="https://github.com/Jerey-Jobs/BesselLoadingView">Link</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmlabel">
                        <h2 id="boxoffice">KeepGank，一款开源GankIO客户端</h2>
                        <time>2017.01</time>
                        <img src="images/profile/picall.jpg">
                        <ul>
                            <li>
                                为练习Retrofit + RxJava + Material Design 所写
                                <br> 图片加载：Glide
                                <br> 数据库：Realm
                                <br> 目前是Java版本，等后面学了ReactNative 再写个ReactNative版本的
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <span class="link"><a target="_blank" href="https://github.com/Jerey-Jobs/KeepGank">Link</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmlabel">
                        <h2 id="boxoffice">PermissionTools开源Android权限申请库</h2>
                        <time>2017.01</time>
                        <img src="images/profile/permissiontools.jpg">
                        <ul>
                            <li>
                                一个用于Android权限申请的工具库
                                <br> 当应用target版本为23或者更高时才能使用，主要负责帮助程序员简化权限申请流程。
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <span class="link"><a target="_blank" href="https://github.com/Jerey-Jobs/PermissionTools">Link</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmlabel">
                        <h2 id="boxoffice">闪电侠红包助手</h2>
                        <time>2016.12</time>
                        <img src="images/profile/flashmoney.jpg">
                        <ul>
                            <li>
                                一个微信抢红包插件
                                <br> 使用AccessibilityService监听微信屏幕变化以及通知变化
                                <br> 通过ID获取控件实现点击等流程操作构成抢红包助手。
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <span class="link"><a target="_blank" href="https://github.com/ApplicationT/WeChatRedPackets">Link</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmlabel">
                        <h2 id="busyweek"> TCL One Touch Flash3 短信App</h2>
                        <time>2016.04-2016.10</time>
                        <img src="images/profile/mms_view.jpg">
                        <ul>
                            <li>
                                TCL Flash3 手机中短信App
                                <br> 基于Google Mms模块二次开发, 不得不承认，短信的确够复杂。
                                <br>
                                <a href="http://www.zixuntop.com/460/16522.htm">This Phone's Link</a> This App based on Google Mms
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <span class="link"><a target="_blank" href="http://jerey.cn/2017/02/02/%E7%9F%AD%E4%BF%A1App%E5%88%86%E6%9E%90-%E5%B8%A6%E4%BD%A0%E8%B5%B0%E8%BF%9BAndroid%E7%9F%AD%E4%BF%A1%E6%BA%90%E7%A0%81/">My Perspective</a>
									</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmlabel">
                        <h2 id="busyweek">百度云音乐</h2>
                        <time>2016.07</time>
                        <img src="images/profile/musiclook.jpg">
                        <ul>
                            <li>
                                一款音乐播放器，本想改善官方软件下载歌曲需要开会员的问题，未完工
                                <br>
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <span class="link"><a target="_blank" href="https://github.com/ApplicationT/MusicPlayer">Link</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmlabel">
                        <h2>易译翻译</h2>
                        <time>2016.04</time>
                        <img src="images/profile/yiyifirstview.jpg">
                        <ul>
                            <li>
                                一款翻译软件
                                <br>主要功能为：用户无需去客户端输入单词查询，遇到不懂的只需选中复制，即在屏幕左上方弹出翻译结果。
                            </li>
                            <li class="skill">
                                <span class="cbp_tmicon-phone"></span>
                                <span><b>Android</b></span>
                                <!-- <a href="https://github.com/kissyteam/kissy"><span class="i-kissy"></span></a> -->
                                <span class="link"><a target="_blank" href="https://github.com/Jerey-Jobs/MyTestApplication/tree/master/yiyiapp">Link</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if site.duoshuo_username %}
                <li>
                    <div class="cbp_tmlabel">
                        <!-- 多说评论框 start -->
                        <div class="comment">
                            <div class="ds-thread" data-thread-key="{{site.duoshuo_username}}/portfolio" data-title="{{page.title}}" data-url="{{site.url}}{{site.baseurl}}{{page.url}}">
                            </div>
                        </div>
                        <!-- 多说评论框 end -->
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if site.duoshuo_username %}
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2127941"></script>
    <!-- UY END -->
    {% endif %}
    <script type="text/javascript">
	    var sUserAgent = navigator.userAgent.toLowerCase();
	    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
	    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
	    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
	    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
	    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
	    var bIsAndroid = sUserAgent.match(/android/i) == "android";
	    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
	    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
	    var htmljs = '<script type="text/javascript" color="0,0,255" opacity="0.7" zindex="-2" count="99" src="\/\/cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"><\/script>';
	    document.writeln("您的浏览设备为：");
	    if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
	        document.writeln("phone");
	    } else {
	        document.write("pc");
	        document.write(htmljs);
	    }
    </script>
</body>

</html>
